:root {
  --color-darkGreen: #386641;
  --color-green: #6a994e;
  --color-lightGreen: #a7c957;
  --color-background: #f2e8cf;
  --color-lightBackground: #f6efdc;
  --color-offwhite: #fffef6;
  --color-black: #121212;
  --color-lightRed: #c66a6b;
  --color-red: #e14e51;
  --color-yellow: #e0ca28;
}
