@import "../src/assets/colors.css";

/* @theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} */

html,
body {
  background-color: var(--color-background);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

@keyframes dropDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.drop-down-animation {
  animation: dropDown 0.6s ease-out forwards;
}

@keyframes levitate {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.levitate {
  animation: levitate 2s ease-in-out infinite;
}
